body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bando {
  height: 500px
}
.bandonho {
  height: 500px;
  width: 100%;
}

.box {
  width: 100%;
}

.box h2 {
  color: white;
  font-weight: 500;
}
.box input[type="text"],.box input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  font-weight: 450;
  width: 85%;
  outline: none;
  color: black;
  border-radius: 10px;
  transition: 0.25s;
  font-size: 125%;

}
.box input[type="text"]:focus,.box input[type="password"]:focus {
  width: 90%;
  border-color: #2ecc71;

}
.box input[type="button"] {
  border: 0;
  background: none;
  display: block;
  margin: 1px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 8px 25px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="button"]:hover{
  background: #3498db;
  border: 2px solid white;
  color: white;
}

.badges:hover{
  cursor: pointer;
}

.bodydiv {
  margin: 0;
  padding: 0;
  background: white;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "montserrat",sans-serif;
}

.loading {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  position: relative;
  animation: a1 2s linear infinite;
}

.loading::before,.loading::after{
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}
.loading::before{
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}
.loading::after{
  border-top: 10px solid #3498db;
  transform: rotate(240deg);
}

.loading span {
  position: absolute;
  width: 200px;
  height: 200;
  color: black;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

@keyframes a1 {
  to{
    transform: rotate(360deg);
  }
}
@keyframes a2 {
  to{
    transform: rotate(-360deg);
  }
}

.bigModal {
  min-width: 98%;
  max-width: 98%;
}
.divAlignRight {
  border: 1px;
}
.divAlignRight Button {
  align-items: right;
}

.bor {
  border: 2px;
  background: #2ecc71;
}
.map {
  width: 98%;
  height: 500px;
  opacity: 0.5;
}

.carousel-item, .carousel-item.active {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

.img-carousel {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}